<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @group.name %>
</p>

<div class="btn-group" role="group" aria-label="...">
  <button type="button" class="btn btn-info"><%= link_to 'Edit', edit_group_path(@group) %></button>
  <button type="button" class="btn btn-default"><%= link_to 'Back', :back %></button>
</div>
